@use "../../scss/abstracts/" as *;

.topNav {
  @include flex(space-between, center);
  padding: 1rem;
  background-color: var(--bgc);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: var(--box-shadow);

  &_left {
    @include flex(flex-start, center);
    gap: 1rem;
    margin-right: auto;

    &_menu_icon {
      cursor: pointer;
      display: block;
      @include tablet {
        display: none;
      }
    }

    &_menu {
      cursor: pointer;
      display: none;
      @include tablet {
        display: block;
      }
    }
  }

  &_right {
    @include flex(flex-end, center);
    gap: 1rem;
    margin-left: auto;
    height: 100%;
    align-items: center;
  }
}

.profile_wrapper {
  margin-left: 0;
  display: flex;
  align-items: center;
}

.search_desktop_wrapper {
  flex: 1;
  @media screen and (max-width: 975px) {
    display: none;
  }
}
.search_tablet_wrapper {
  flex: 1 1 500px;
  display: none;
  @media screen and (max-width: 975px) {
    display: block;
    margin: 0.5rem 0 0;
  }
}

html[dir="rtl"] {
  .topNav_left_menu_icon {
    transform: rotate(180deg);
  }
}
